<main class="main">
    <div class="content">
      <div class="side left-side">
        <a [routerLink]="'/tasks/create'">+ create task...</a>
        <app-tasks-list />
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="side center-side">
        <container-element [ngSwitch]="mode">
            <div *ngSwitchCase="'index'" class="no-task-selected"><p>...no task selected...</p></div>
            <app-task *ngSwitchCase="'task'" [taskId]="task?.id || -1" />
            <app-create-task *ngSwitchCase="'create'" />
          </container-element>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="side right-side">
          <p>Todo: {{notCompletedTasksNumber}}</p>
          <p>Done: {{completedTasksNumber}}</p>
          <p>All: {{tasksNumber}}</p>
      </div>
    </div>
  </main>

  